$shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

$background: rgba(0, 0, 0, 0.3);

$font-xs: 14px;
$font-s: 16px;
$font-m: 18px;
$font-l: 32px;

$lh-xs: 20px;
$lh-m: 28px;
$lh-l: 44px;

$indent-s: 20px;
$indent-m: 40px;
$indent-l: 140px;

